---
title:      Pulsar IPL for Rosacea at The Medical Aesthetic Clinic in Winchester
created_at: 2010-05-18 20:28:38.154881 +00:00
filter:     haml
sidebars:   ['rosacea/prices', 'treatments']
---
%h1 Pulsar Rosacea Treatment

%h2 Overview

%p
  The Pulsar Multifunction Intense Pulsed Light System is a technological breakthrough that can effectively and virtually without pain treat many conditions, including
  %strong
    rosacea.

%h2 What will the treatment be like?

%p The procedure is as follows for all Pulsar IPL treatments:

%ol
  %li A trained / clinically certified person will always carry out the treatment.
  %li The area to be treated is prepared.
  %li A clear, hypo-allergenic gel is applied to cool the skin.
  %li The Pulsar Applicator is then applied directly to the skin and the selected area is treated via a series of intense bursts of light. Each burst of light represents a 5cm<sup>2</sup> treated area.
