---
title:      Jane Iredale mineral make up available at The Medical Aesthetic Clinic in Winchester
created_at: 2010-05-18 20:28:38.154881 +00:00
filter:     haml
sidebars:   ['find-us', 'products', 'treatments']
---

%h1 Jane Iredale mineral make up

.column.span-16.last
  .column.span-8
    %img{:src => '/images/products/jane-iredale/jane-iredale-range-303.jpg', :width => 303, :height => 303, :alt => 'Jane Iredale products'}

  .column.span-8.last
    %p Jane Iredale introduced her unique skin care makeup line in May of 1994. It was the first full makeup line on the market to offer not just color enhancement but also benefits to the skin.
    %p The products are based on micronized minerals and are made without fillers and binders (such as talc and mineral oil) and without chemical dyes or preservatives. As a result, the Iredale products are carried by salons, spas and medical clinics throughout the world.

.column.span-16.last
  .column.span-8
    %p Plastic Surgeons were the first to recognize the benefits of the line and were confident enough with it to use it on skin that had just undergone laser resurfacing. It not only effectively and safely covered the redness but also provided essential sun protection.
    %p Jane Iredale herself underwent laser resurfacing and demonstrated the extraordinary ability of her Amazing Base&reg; to conceal and provide aesthetic enhancement.

    %p
      More information can be found at
      %a{:href => 'http://www.janeiredale.com'} janeiredale.com

  .column.span-8.last
    %img{:src => '/images/products/jane-iredale/jane-iredale-split-face-303.jpg', :width => 303, :height => 303, :alt => 'Unretouched photograph 12 days after laser resurfacing showing the difference that Jane Iredale makeup can make.'}

