---
filter: haml
---
#callout-boxes.column.span-24

  .column.span-12
    .callout-box.second-box
      %a{:href => '/gift-vouchers'}
        %img{:src => '/images/gift-vouchers/gift-voucher-88.jpg', :width => '88', :height => '88', :alt => ''}
      %p.title Gift Vouchers
      %p
        We offer gift vouchers on all our treatments and products. Just ask at reception.
        %a{:href => '/gift-vouchers'} more &gt;

  .column.span-12.last
    .callout-box.third-box
      %a{:href => '/contact'}
        %img{:src => '/images/callouts/map.png', :width => '88', :height => '88', :alt => ''}
      %p.title How to find us
      %p
        Visit us at 33 Southgate Street in Winchester, near the Hotel Du Vin.
        %a{:href => '/contact'} more &gt;
