---
filter: haml
---
.box.clearfix.special-offer
  %h2= SpecialOffer.title

  %img{:src => '/images/products/jane-iredale/jane-iredale-brown-eyes-223.jpg', :style => 'float: right;', :width => '223', :height => '223'}

  %p Jane Iredale, advanced technology pure mineral Make Up with no preservatives, chemicals or fillers. (SPF20).

  %p Book your personal consultation with our Jane Iredale professional Make Up artist.  A full colour consultation and make-up for a booking fee of &pound;20, which is redeemable against any Jane Iredale products that you purchase.

  %p Our Expert will guide you in selecting the perfect colours to match your skin tone.
