---
filter: haml
---
.box.clearfix.special-offer
  %h2= SpecialOffer.title
  %p
    During November treat yourself to a FREE Fire &amp; Ice Facial, valued at
    = format_price(80) + ','
    when you purchase ANY three of our
    %a{:href => '/products/jan-marini'} Jan Marini
    products.
