---
filter: haml
---
.box.clearfix.special-offer
  %img{:src => '/images/products/jan-marini/jan-marini-bioclear-cream-123.jpg', :width => 123, :height => 123, :alt => ''}
  %h2 July Special Offer
  %p
    Purchase Jan Marini’s Bioglycolic Facial Cleanser, Bioglycolic Bioclear Facial Lotion or Cream, the renowned Antioxidant Daily Face Protectant SPF30, and have a
    %strong Fire &amp; Ice Facial for &pound;185.00
    (normal price &pound;233.00).

  %p Although the package runs for July only, you may have your Fire &amp; Ice Facial at any time.
