---
filter: haml
---
.box.clearfix.special-offer
  %img{:src => '/images/treatments/dermaroller/dermaroller-88.jpg', :width => 88, :height => 88, :alt => ''}
  %h2 August Special Offer
  %p 20% off a treatment with the Genuine Dermaroller.
