---
filter: haml
---
.box.clearfix.special-offer
  %h2 October Special Offer
  %p
    Book a course of 3 treatments and enjoy a
    %strong limited offer of 20% off.
    Normal price
    = format_price(65)
    per treatment.
    Your course of 3 must be paid for in advance during October and your first appointment taken during October or November.
