---
filter: haml
---
.box.clearfix.special-offer
  %img{:src => '/images/products/jan-marini/jan-marini-bioclear-cream-123.jpg', :width => 123, :height => 123, :alt => ''}
  %h2= SpecialOffer.title
  %p Buy any Jan Marini product and receive 20% off the retail price.
