---
filter: haml
---
.box.clearfix.special-offer
  %h2= SpecialOffer.title
  %p
    Book a course of 3 treatments and enjoy a
    %strong limited offer of 20% off.
    Your course of 3 must be paid for in advance during June and your first appointment taken during June or July.
