---
filter: haml
---
.box.clearfix.special-offer
  %img{:src => '/images/products/jan-marini/jan-marini-bioclear-cream-123.jpg', :width => 123, :height => 123, :alt => ''}
  %h2 July Special Offer
  %p
    During July, purchase the following for the offer price of &pound;185.00:
  %ul
    %li Jan Marini’s Bioglycolic Facial Cleanser
    %li Bioglycolic Bioclear Facial Lotion or Cream
    %li Antioxidant Daily Face Protectant SPF30
    %li and a Fire and Ice Facial
  %p
    Normal price &pound;233.00
  %p
    Although the package runs for July only, you are free to have your Fire and Ice Facial at a time suitable for you.
