---
filter: haml
---
.box.clearfix.special-offer
  %img{:src => '/images/treatments/ipl-permanent-hair-reduction/ipl-permanent-hair-reduction-123.jpg', :width => 123, :height => 123, :alt => ''}
  %h2= SpecialOffer.title
  %p
    Book a course of 3 treatments and enjoy a
    %strong limited offer of 20% off.
    You can choose to have a single area treated or combine up to 3 different areas. Your course of 3 must be paid for in advance during September and your first appointment taken during September or October.
