---
filter: haml
---
.box.clearfix.special-offer
  %img{:src => '/images/treatments/dermal-fillers/dermal-fillers-123.jpg', :width => 123, :height => 123, :alt => ''}
  %h2= SpecialOffer.title
  %p
    Restylane treatment, for those wrinkles, lips or folds - normally £320 now £272 (15% off)
