---
title:      Sesha skin therapy available at The Medical Aesthetic Clinic in Winchester
created_at: 2010-05-18 20:28:38.154881 +00:00
filter:     haml
sidebars:   ['find-us', 'products']
---
%h1 Sesha skin therapy

%img.float-left{:src => '/images/products/sesha/sesha-range-303.jpg', :width => 303, :height => 303, :alt => 'Range of SESHA products'}

%p SESHA skin therapy is a science-based skincare program dedicated to revealing beautiful skin by feeding and nourishing it.

%p Using PET&trade;, our revolutionary and FDA-accredited delivery system, we deliver optimal concentrations of pharmaceutical grade antioxidants, botanicals, and vitamins where they are needed most - below the skin's surface.

%p
  More information can be found at
  %a{:href => 'http://www.seshaskin.com/'} www.seshaskin.com
