---
title:      Jan Marini skin research available at The Medical Aesthetic Clinic in Winchester
created_at: 2010-05-18 20:28:38.154881 +00:00
filter:     haml
sidebars:   ['gift-vouchers', 'find-us', 'products', 'treatments', 'special-offer']
---
%h1 Jan Marini skin research

%p
  We recommend and supply
  %strong Jan Marini
  products, which can be purchased at the Clinic.

%img{:src => '/images/products/jan-marini/jan-marini-range-623.jpg', :width => 623, :height => 190, :alt => 'Range of Jan Marini products', :style => 'border: none; padding-bottom:1em;'}
  
%p These are medically-based technological products using pharmaceutical grade ingredients with countless years of research. These products are not available over the counter; you must be seen by a qualified skin-care professional such as a doctor or nurse. We will happily advise you on the most suitable products.

%img.float-right{:src => '/images/products/jan-marini/jan-marini-travel-system-303.jpg', :width => 303, :height => 303, :alt => 'Jan Marini travel system'}

%p The Jan Marini range incorporates over 70 products to treat a wide range of skin conditions, from signs of ageing like wrinkles and sun damage, to common skin problems including acne, rosacea and skin discolouration.

%p All of these conditions can be measurably improved by the use of her specialised formulations.

%h2{:style => 'clear:right;'} Videos

.column.span-8
  <object width="305" height="252"><param name="movie" value="http://www.youtube.com/v/Ib8Lhmiw5jM&hl=en_GB&fs=1&"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/Ib8Lhmiw5jM&hl=en_GB&fs=1&" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="305" height="252"></embed></object>
  %p Jan discusses how to treat acne in adults.

.column.span-8.last
  <object width="305" height="252"><param name="movie" value="http://www.youtube.com/v/UlMLQZqT0Gs&hl=en_GB&fs=1&"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/UlMLQZqT0Gs&hl=en_GB&fs=1&" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="305" height="252"></embed></object> 
  %p Keep your skin in the best condition by following Jan's recommendations.

%p
  More information can be found at
  %a{:href => 'http://www.janmarini.com/'} www.janmarini.com
