---
title:      Pulsar IPL for Pigmented Lesions at The Medical Aesthetic Clinic in Winchester
created_at: 2010-05-18 20:28:38.154881 +00:00
filter:     haml
sidebars:   ['gift-vouchers', 'special-offer', 'treatments', 'products', 'find-us']
---
%h1 Pulsar IPL for Pigmented Lesions

%p Coming soon.
