---
title:      Gift vouchers available at The Medical Aesthetic Clinic in Winchester
created_at: 2010-05-18 20:28:38.154881 +00:00
filter:     haml
sidebars:   ['find-us', 'treatments']
---
%h1 Gift vouchers

.column.span-8
  %img{:src => '/images/gift-vouchers/gift-voucher-303.jpg'}

.column.span-8.last
  %p We offer gift vouchers on all our treatments and products.
  %p Gift vouchers make ideal presents for friends and loved ones, to celebrate birthdays, mothers day, fathers day, an engagement, wedding or anniversary.

  %p
    Please ask at reception on your next visit, or
    %a{:href => '/contact'} contact us
    for more information.
