---
title:      iS CLINICAL&reg; available at The Medical Aesthetic Clinic in Winchester
created_at: 2010-05-18 20:28:38.154881 +00:00
filter:     haml
sidebars:   ['find-us', 'products']
---
%h1 iS CLINICAL&reg;
%p by INNOVATIVE SKINCARE&reg;

%img.float-left{:src => '/images/products/is-clinical/is-clinical-range-303.jpg', :width => 303, :height => 303, :alt => 'Range of iS CLINICAL&reg; products'}

%p iS CLINICAL&reg;, the exclusive skincare brand from INNOVATIVE SKINCARE&reg;, is comprised of exceptional, long-term "results-oriented" anti-aging and optimizing skincare formulations.

%p By developing and utilizing the most advanced research technology, INNOVATIVE SKINCARE&reg; doctors and scientists meticulously design and create products that conclusively deliver rapid and safe, long-term, positive results.
